{{#each this}}
<li class="item">
    <div class="photo-card">
        <img src="{{previewURL}}" alt="{{tags}}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons md-18">thumb_up</i>
                {{favorites}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-18">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-18">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-18">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}